.wrapper {
	display: grid;
	grid-gap: 10px;
    font-family: Arial, sans-serif;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas : 
    "header"
    "article"
    "Sidebar"  ;

}
.wrapper > * {
	padding: 1em;
	border-radius: 1em;
}
header {
	background-color: blue;
    color: white;
    grid-area : header ;
}
article {
	background-color: green;
    color: white;
    grid-area : article;
}
aside {
    background-color: yellow;
    grid-area : Sidebar ;
}
@media (min-width: 650px) { 
	.wrapper{
        grid-template-columns: repeat(4, 1fr) ;
        grid-template-rows: auto;
        grid-template-areas: 
        "article article article Sidebar"
        "header header header header";

    }
}
@media (min-width: 1000px) { 
   .wrapper {   
    grid-template-areas : 
    "Sidebar header header header  "
    "Sidebar article article  article ";
      }
}